# Ignore target directory
target/

# Ignore temporary files
*.log
*.tmp
*.temp
*.swp
*~

# Ignore compiled Java classes
*.class

# Ignore build tools files
.mvn/
!**/src/main/**

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Ignore OS-specific files
.DS_Store
Thumbs.db
# Node
/node_modules
npm-debug.log
yarn-error.log
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.angular/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings