.userinfo{
  display: flex;

  ul{
    list-style-type:none;
    padding: 0;  
    li{
      font-size: 16px;
      b{
        text-transform: uppercase;
      }
    }
  }
  .riskInfo{
    width: 250px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: #fff;
    &.none{
      background-color: rgb(46, 171, 46);
    }
     &.borderline{
      background-color: #edcc3b;
    }
     &.indanger{
      background-color: #FF7D49;
    }
      &.earlyonset{
      background-color: #E4003A;
    }
    
  }
}
.note{
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  gap: 10px;

}
.customTable,
th,
td {
  border: 1px solid #58af9b;
  border-collapse: collapse;
  padding-left: 10px;
  text-align: left;
}
.customTable {
  width: 100%;
  tr {
    th {
      min-width: 80px;
      height: 50px;
    }
    td {
      height: 30px;
      border-top: none;
    }
  }
}
.customIcon{
  background: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}