<div class="homepage">
        <div class="patientListSection">
                <div class="addSection">
                        <button (click)="openModal(null)" class="ajouteButton ajoute">Ajouter un(e) patient(e) </button>
                        
                        </div>
                        <div class="searchSection">
                                <input #input type="text" placeholder="Nom Prénom" (input)="onInput($event)" />
                                <ul class="searchResult" *ngIf="searchResult.length > 0">
                                        <li class="item" *ngFor="let patient of searchResult" (click)="onClick(patient, input)" [hidden]="toggle">
                                        <p> {{ patient.prenom }} {{ patient.nom }}</p>
                                </li>
                                </ul>
                                </div>
                <div *ngFor="let patient of patientList">
                        <div class="individual">
                                <p (click)="onClick(patient,null)"> {{patient.nom}} {{patient.prenom}} </p>
                                <button class="customIcon" (click)="deletePatient(patient.id)">
                                        <mat-icon aria-hidden="false" class="custom_icon" fontIcon="delete_sweep">
                                        </mat-icon>
                                </button>
                        </div>
                        
                </div>
        </div>
        <div>
                <app-patient-info *ngIf="selectedPateint" [patient]="selectedPateint" [notes]="notesObservation"
                        [risk]="risk"></app-patient-info>
        </div>

</div>
<app-modal-add-patient *ngIf="showModal" (close)="closeModal()"
        (patientAdded)="onPatientAdded($event)"></app-modal-add-patient>